{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}

<style>
body{
    background-color: #33475c !important;
}
</style>

<div class="container-fluid mt-3">
	<div class="row">

		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
					{%if product.status%}
					<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
						<form class="btn-light" method=POST action="{% url 'product-details' product.id product.name %}">
								{% csrf_token %}
								<input hidden type="text" name="clickedproduct" value="{{product.id}}">
								<input type="image" value=image class="card-img-top" src="{{product.image.url}}">

							</form>
							  
						<div class="card-body">
							<p class="card-title">{{product.name}}</p>
							<p class="card-text"><b>{{product.price|currency}}</b></p>
						</div>

					</div>
					{%endif%}
				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}