{% extends 'base.html' %}


{% block content %}




<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-6 mt-4 border mb-4 mx-auto rounded pt-4">
            <div class="text-center col">
            
                <img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="display-8"><strong>Login</strong></div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border mt-4 mb-4 rounded">Login Here</h3>
            <form action="/login" method="POST"  novalidate>
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                {% if confirm_message%}
                <div class="alert alert-success" role="alert">
                    {{confirm_message}}
                </div>
                {% endif %}
                
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="example@gmail.com">
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm" placeholder="********">
                </div>

                <hr>
                <center>
                {{form.captcha}}
                <div class="form-group">
                    <center><input class="btn btn-sm btn-info col-lg-8 upl"  type="submit" value="Send OTP"></center>
                </div>
              </center>
               <div class="d-flex justify-content-center links">
                    <a href="/sellerLogin" class="ml-2">Switch to seller?</a>
               </div>
            </form>

        </div>
        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                Don't have an account? <a href="/signup" class="ml-2">Sign Up</a>
            </div>
            <div class="d-flex justify-content-center links">
                <a href="/forgotcustomer">Forgot your password?</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}