

{% extends 'virtual.html' %}


{% block virtual %}

<style type="text/css">
    .upl{ margin-top: 15px; }
    .downl{ margin-top: -3px; }
    .rightl{ margin-right: 6px; }
    .leftl{margin-left: 6px;}
</style>

        <body>
            <div class="container" style="margin-top:80px;">
            <div class="panel panel-default">
              
               <div class="panel-body">
                    <form action="{% url 'checkotpsellersignup' %}" method="post">
                        {% csrf_token %}
                        <center><h2>OTP</h2></center>
                        <input required pattern="[0-9]{6}"  type="text" name="otp" id="testvirtual" class = "jQKeyboard form-control" placeholder="Enter your 6 digits OTP sent on {{email|safe}}" />
                         <input hidden="" type="email" name='email' value='{{email|safe}}'>
                         <input hidden="" type="text" name='first_name' value='{{first_name|safe}}'>
                         <input hidden="" type="text" name='last_name' value='{{last_name|safe}}'>
                         <input hidden="" type="text" name='phone' value='{{phone|safe}}'>
                         <input hidden="" type="password" name='password' value='{{password|safe}}'>
                        <div class="form-group upl">
                            <input class="btn btn-sm btn-info col-lg-12" type="submit" value="Enter OTP">
                        </div>
                    </form>
                </div>

            </div>
          </div>
      </body>


{% endblock %}


