{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}

<center>
	{% if searched %}
		<br/>
			<div id='products' class="col-lg-9 mx-auto">
				<div class="row mx-auto">
					{% for product in products %}
					<div class="card mx-auto mb-3" id={{product.id|safe}} style="width: 18rem;">

						<form class="btn-light" method=POST action="{% url 'product-details' %}">
							{% csrf_token %}
							<input hidden type="text" name="clickedproduct" value="{{product.id|safe}}">
							<!-- <input  class="form-control me-2" type="image" value="blue" alt="blue" src="{{product.image.url|safe}}"> -->

							<input type="image" value=image class="card-img-top" src="{{product.image.url|safe}}">

						</form>
						  


						<div class="card-body">
							<p class="card-title">{{product.name|safe}}</p>
							<p class="card-text"><b>{{product.price|currency|safe}}</b></p>
							<!-- {{product | is_in_cart:request.session.cart |safe}} -->
						</div>

						<div class="card-footer p-0 no-gutters">

							{% if product|is_in_cart:request.session.cart %}
							<div class="row no-gutters">
								<form action="/#{{product.id|safe}}" class="col-2 " method="post">
									{% csrf_token %}
									<input hidden type="text" name='product' value='{{product.id|safe}}'>
									<input hidden type="text" name='remove' value='True'>
									<input type="submit" value=" - " class="btn btn-block btn-light border-right">
								</form>
								<div class="text-center col">{{product|cart_quantity:request.session.cart|safe}} in Cart</div>
								<form action="/#{{product.id|safe}}" class="col-2 " method="post">
									{% csrf_token %}
									<input hidden type="text" name='product' value='{{product.id|safe}}'>
									<input type="submit" value=" + " class="btn btn-block btn-light border-left">
								</form>
							</div>
							{% else %}
							<form action="/#{{product.id|safe}}" method="POST" class="btn-block">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id|safe}}'>
								<input type="submit" class="float-right btn btn-light  form-control"
									value="Add To Cart">
							</form>
							{% endif %}

						</div>

					</div>
					{% endfor %}
				</div>
			</div>
	
	{% else %}
		<h1>No search found!</h1>
		
	{% endif %}

	

	
	</center>



{% endblock %}